nav li {
  display: inline-block;
  text-decoration: none;
  list-style: none;
  margin-top: 20px;
  margin-right: 10px;
}

nav h3 {
  display: inline-block;
}

.mainContent {
  text-align: center;
  color: #ffa64d;
}

.dropdown {
  margin:0 auto;
  margin-top: 20px;
  display: block;
}

body {
  background-color: #990000;
}
